$color_primary: #ffd770;
$color_preto: #333;
$color_branco: #fff;

$boxShadow_1: 4px 4px 4px rgba(0,0,0,.1);

$background: 180deg, #fffd9b 0, #ffeb87 16.67%, #ffd66f 33.33%, #f2bd53 50%, #e3a437 66.67%, #d78f1f 83.33%, #cf7c07 100%;


